// Utilities
//
// Import variables and mixins
// Should contain NO css output.
// Only variables / mixins / settings.
@import '../../global/utils/init';

.block-views-blocktestinomial-block-1 {
  background-attachment: fixed;
  background-image: url('/themes/custom/crossline/images/man-suit1.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
  margin-bottom: 100px;
  min-height: 500px;
  position: relative;

  .container {

    .view-header {
      text-align: center;

      h2 {
        border-bottom: 2px solid $color-tomato;
        display: inline-block;
        padding-bottom: 10px;
        margin-bottom: 50px;
        margin-top: 50px;
      }
    }

    .testimonial-wrapper {
      display: block;
      opacity: 1;
      padding: 0 15%;
      position: relative;
      text-align: center;

      .testimonial-quote {
        margin-bottom: 10px;

        h4 {
          line-height: 32px;
        }

        &::before {
          content: '\f10d';
          color: $color-tomato;
          display: inline-block;
          font-family: $font-awesome;
          font-size: 50px;
          font-weight: bold;
          margin-bottom: 20px;
        }
      }

      .testimonial-author {

        p {
          margin-bottom: 30px;
          color: $color-tomato;

          a {
            color: $color-tomato;
          }
        }
      }
    }

    .owl-nav {
      display: none;
    }

    .owl-dots {
      margin-bottom: 100px;
    }
  }

  &::before {
    background-color: rgba(0, 0, 0, 0.5);
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: $color-tomato !important;
}

@include lg {

  .block-views-blocktestinomial-block-1 {
    margin-bottom: 50px;
    min-height: 300px;

    .container {

      .view-header {
        text-align: center;

        h2 {
          font-size: 24px;
          margin-bottom: 20px;
        }
      }

      .testimonial-wrapper {

        .testimonial-quote {

          &::before {
            margin-bottom: 5px;
          }
        }
      }

      .owl-dots {
        margin-bottom: 50px;
      }
    }
  }
}
