// Utilities
//
// Import variables and mixins
// Should contain NO css output.
// Only variables / mixins / settings.
@import '../../global/utils/init';

//================================
// FOOTER - Curious Plot
//================================
footer {
  background-color: $black;
  color: $white;
  padding: 50px 0;

  .container {

    .region-footer {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 30px;
      padding: 0 0 30px;

      h2,
      h5 {
        border-bottom: 2px solid #e25111;
        display: inline-block;
        font-size: 24px;
        margin-bottom: 15px;
        padding-bottom: 10px;
      }

      ul {

        li {

          a {
            font-size: 16px;
            text-decoration: none;
            color: $white;

            &::before {
              content: '\f178';
              font-family: $font-awesome-5;
              font-weight: bold;
              display: inline-block;
              vertical-align: middle;
              margin-right: 5px;
              font-size: 9px;
            }
          }
        }
      }

      .newsletter {
        margin-top: 20px;

        .form-group {
          margin-bottom: 20px;

          .form-control {
            background-color: $white;
            background-image: none;
            border: none;
            border-radius: 30px;
            color: $black;
            display: block;
            font-size: 14px;
            height: 40px;
            line-height: 1.42857143;
            padding: 6px 12px;
            transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
            width: 100%;
          }

          .btn-submit {
            background: $color-tomato;
            color: $white;
            border: none;
            border-radius: 25px;
            font-size: 16px;
            line-height: 1;
            padding: 10px 20px;
          }
        }
      }

      .icon {
        margin-bottom: -5px;

        &::before {
          content: '\f0e0';
          display: inline-block;
          font-family: $font-awesome-5;
          font-size: 15px;
          font-weight: bold;
          margin-right: 5px;
          margin-bottom: 3px;
          vertical-align: middle;
        }
      }

      .address {

        &::before {
          content: '\f3c5';
          display: inline-block;
          font-family: $font-awesome-5;
          font-weight: bold;
          font-size: 15px;
          margin-right: 5px;
          margin-bottom: 3px;
          vertical-align: middle;
        }
      }

      .phone {

        a {
          color: $color-tomato;
        }

        &::before {
          content: '\f095';
          display: inline-block;
          font-family: $font-awesome-5;
          font-weight: bold;
          font-size: 15px;
          margin-right: 5px;
          margin-bottom: 3px;
          vertical-align: middle;
        }
      }

      .mail {

        a {
          color: $color-tomato;
        }

        &::before {
          content: '\f0e0';
          display: inline-block;
          font-family: $font-awesome-5;
          font-size: 15px;
          font-weight: bold;
          margin-right: 5px;
          margin-bottom: 3px;
          vertical-align: middle;
        }
      }
    }

    .region-copyright {
      
      .field--name-body {
        text-align: center;
      }
    }
  }
}

@include lg {

  footer {
    padding: 50px 0 30px;
    
    .container {

      .region-footer {
        grid-template-columns: repeat(1, 1fr);
        gap: 25px;
        padding: 0 0 10px;
      }
    }
  }
}

// @include md {}
